app = "monitor-tpmxfg"
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[env]
  PYTHONUNBUFFERED = "1"

[processes]
  worker = "python monitor.py"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "1gb"
